.table_container{
    margin: 0  auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    max-width: 800px;
    padding: 10px;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product_title {
    font-size: 1.4rem;
}

.button_title {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #000;
  }
  
  .paginationActive a {
    color: white;
    background-color: #000;
  }
  
  .paginationDisabled a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }